# PART2 重回帰モデルを作ってみよう

## おまじない

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

## データの読み込み
- train.csvとtest.csvとsample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう
- sampleを読み込む時は、header=Noneというオプションを忘れないようにしましょう

In [3]:
train = pd.read_csv("E:\\til\\Jupyter\\SIGNATE\\bento\\train.csv")
test = pd.read_csv("E:\\til\\Jupyter\\SIGNATE\\bento\\test.csv")
sample = pd.read_csv("E:\\til\\Jupyter\\SIGNATE\\bento\\sample.csv", header=None)

## trainのweekの各値がそれぞれいくつあるか数えてみましょう

In [5]:
train["week"].value_counts()

水    43
木    43
火    41
金    41
月    39
Name: week, dtype: int64

## trainのweekを試しにダミー変数化してみよう
- pd.get_dummies関数を使います
- カッコの中にダミー変数化したい変数を書きます

In [7]:
pd.get_dummies(train["week"])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
5    1  0  0  0  0
6    0  0  0  1  0
7    0  0  1  0  0
8    0  1  0  0  0
9    0  0  0  0  1
10   1  0  0  0  0
11   0  0  0  1  0
12   0  0  1  0  0
13   0  1  0  0  0
14   0  0  0  0  1
15   1  0  0  0  0
16   0  0  0  1  0
17   0  0  1  0  0
18   0  1  0  0  0
19   0  0  0  0  1
20   1  0  0  0  0
21   0  0  0  1  0
22   0  0  1  0  0
23   0  1  0  0  0
24   0  0  0  0  1
25   0  0  0  1  0
26   0  0  1  0  0
27   0  1  0  0  0
28   0  0  0  1  0
29   0  0  1  0  0
..  .. .. .. .. ..
177  1  0  0  0  0
178  0  0  0  1  0
179  0  0  1  0  0
180  0  1  0  0  0
181  0  0  0  0  1
182  1  0  0  0  0
183  0  0  0  1  0
184  0  0  1  0  0
185  0  1  0  0  0
186  0  0  0  0  1
187  1  0  0  0  0
188  0  0  0  1  0
189  0  0  1  0  0
190  0  1  0  0  0
191  0  0  0  0  1
192  1  0  0  0  0
193  0  0  0  1  0
194  0  0  1  0  0
195  0  1  0  0  0
196  0  0  0  0  1
197  0  0  0  1  0
198  0  0  1  0  0
199  0  1  0  0  0
200  0  0  0  0  1
201  1  0  0  0  0
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

## trainからweekとtemperatureを抜きだし、ダミー変数化したものを変数trainXに代入しよう

In [9]:
trainX = pd.get_dummies(train[["week","temperature"]])

## trainXの中身を確認してみましょう

In [11]:
trainX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

## trainからyを取り出し、変数yに代入しましょう

In [12]:
y = train["y"]

## 回帰モデルの箱を用意しましょう
- 変数名はmodelとしましょう

In [13]:
model = LR()

## 重回帰モデルを作りましょう

In [15]:
model.fit(trainX,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## 作ったモデルの傾きや切片を確かめてみましょう

In [16]:
model.coef_

array([-2.53878074,  8.26339936, -9.47240196, -2.02873774,  1.85251984,
        1.38522051])

In [17]:
model.intercept_

135.6911984140161

# 実習

1.testからweekとtemperatureを抜きだし、ダミー変数化したものを変数testXに代入しよう

In [18]:
testX = pd.get_dummies(test[["week", "temperature"]])

2.testXの中身を確認しよう

In [19]:
testX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         20.2       0       0       1       0       0
1         23.9       0       1       0       0       0
2         28.7       0       0       0       0       1
3         21.5       1       0       0       0       0
4         22.1       0       0       0       1       0

3.modelとtestXを使って予測をして、予測結果を変数名predに代入しよう

In [20]:
pred = model.predict(testX)

4.sample[1]にpredを代入して、"submit3.csv"というファイル名でファイル出力しよう

In [22]:
sample[1] = pred

In [26]:
sample.to_csv("submit3.csv", index=None, header=None )

5.submit3.csvをDeepAnalyticsに投稿して、submit1.csvやsubmit2.csvのスコアと比較してみよう